" Base Settings
set scrolloff=5
set relativenumber
set showmode
set showcmd

set smartcase
set incsearch
set hlsearch

set visualbell
set noerrorbells

" Use system clipboard
set clipboard+=unnamed    

" Plugins
set surround
set highlightedyank
set NERDTree

" Mappings

let mapleader=" "
inoremap jj <Esc>


" Tab movement
" Can also use gt / gT and :tabp / :tabn
nnoremap tl :tabnext<CR>
nnoremap th :tabprev<CR>
"nnoremap tn :tabnew<CR> " Doesnt work in Rider :(
nnoremap tx :tabclose<CR> " Doesn't work properly in Rider :(


" Window movement
" Can also use <C-w> + hjkl
nnoremap wh <C-w>h
nnoremap wl <C-w>l
nnoremap wj <C-w>j
nnoremap wk <C-w>k
"nnoremap wq <C-w>q " Doesnt work in Rider :(

" Create splits of current file
nnoremap wv <C-w>v
nnoremap ws <C-w>s

" New file
" nnoremap <leader>n :action NewFile<CR>

" Equivalent of F2
map <leader>r :action RenameElement<CR>

" Show context menu
map <leader>cm :action ShowIntentionActions<CR>

" Execute macro saved in 'q' register
nnoremap qj @q

" Go to errors
map <leader>ne :action ReSharperGotoNextErrorInSolution<CR>
map <leader>pe :action ReSharperGotoPrevErrorInSolution<CR>


" Editor tool window shortcuts

" Explorer
map <leader>te :action ActivateProjectToolWindow<CR>

"Structure
map <leader>ts :action ActivateStructureToolWindow<CR>

" Commit
map <leader>tc :action ActivateCommitToolWindow<CR>

" Favorites
map <leader>tf :action ActivateFavoritesToolWindow<CR>

" Debug
map <leader>td :action ActivateDebugToolWindow<CR>

" Unit Tests
map <leader>tt :action ActivateUnitTestsToolWindow<CR>

" Git
map <leader>tg :action ActivateVersionControlToolWindow<CR>

" Terminal
map <leader>tb :action ActivateTerminalToolWindow<CR>

" TODO
" - NERDTree configuration?
" - Find file / fuzzy finder
" - Rename (done)
" - Refactor
" - Reformat
" - Ctrl + . command
" - Find usages
" - Jump to definition 
" - Find implementation
" - Build
" - Run
" - Run unit tests
" - Debug
