# INPUT OPTIONS ----------------------------------------

# Include system inputrc to avoid weird behaviour
$include /etc/inputrc

# Don't show control characters (^C) on screen
set echo-control-characters off

# Show ins/cmd mode next to prompt
set show-mode-in-prompt on

# Use vim bindings
set editing-mode vi

# Use colors and visual cues
set colored-stats On
set visible-stats On
set mark-symlinked-directories On
set colored-completion-prefix On
set menu-complete-display-prefix On

# Zsh-like tab completions
set show-all-if-ambiguous on
set menu-complete-display-prefix on
set completion-ignore-case On

# Set mode prompt
#set vi-ins-mode-string ┗┓\e[0;35mINS\e[0m\e[2m┏\1\e[6 q\2
#set vi-cmd-mode-string ┗┓\e[0;36mCMD\e[0m\e[2m┏\1\e[2 q\2
set vi-ins-mode-string \e[2m┗━┫\e[0;35mINS\e[0m\e[2m┣\1\e[6 q\2
set vi-cmd-mode-string \e[2m┗━┫\e[0;36mCMD\e[0m\e[2m┣\1\e[2 q\2

# VI COMMAND MODE KEYMAPS ------------------------------
set keymap vi-command

k: history-search-backward
j: history-search-forward

# Macros

# Helper macro to make 'ciw' behave like it does in Vim
"ciw": "bcw"

# VI INSERT MODE KEYMAPS ------------------------------
set keymap vi-insert

# Map jj to Esc
"jj": vi-movement-mode

# Use tab and shift-tab to scroll through completions
TAB: menu-complete
"\e[Z]": menu-complete-backward

# Use up and down arrow keys for searching history
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char

# Macros

