"" .ideavimrc - Matt Chapman


"" Base Settings
"" ========================================================

set scrolloff=5
set linenumber
set showmode
set showcmd

set smartcase
set incsearch
set hlsearch

set visualbell

" Use system clipboard
set clipboard+=unnamed   


"" Plugin Settings
"" ========================================================

set surround
set highlightedyank


"" Key mappings
"" ========================================================

inoremap jk <Esc>

" Tab navigation
nnoremap <A-n> :tabnext<CR>
nnoremap <A-p> :tabprev<CR>

" Window splits
nnoremap wv <C-w>v
nnoremap ws <C-w>s

" Pane navigation
nnoremap <A-h> <C-w>h
nnoremap <A-l> <C-w>l
nnoremap <A-k> <C-w>k
nnoremap <A-j> <C-w>j

" Jump between methods
nnoremap [[ <Action>(MethodUp)
nnoremap ]] <Action>(MethodDown)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

" Execute macro saved in 'q' register
nnoremap qj @q

"" Leader commands
"" ========================================================

let mapleader = ";"

" Comment lines
map <leader>c <action>(CommentByLineComment)

" Folding
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>

" Toggle Zen mode
map <leader>z <action>(ToggleDistractionFreeMode)

" Context menu
map <leader>cm <action>(ShowIntentionActions)

" Popup navigation
inoremap <C-j> <Action>(PopupMenu-selectNext)
inoremap <C-k> <Action>(PopupMenu-selectPrev)

" File navigation
map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader>fl <action>(RecentLocations)

" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

" Definitions and usages
nmap <leader>td <Action>(GoToDeclaration)
nmap <leader>td <Action>(ShowUsages)

" Errors
map <leader>en <Action>(ReSharperGotoNextErrorInSolution)
map <leader>ep <Action>(ReSharperGotoPrevErrorInSolution)
