" ======================================================================================================================

" mttchpmn - .ideavimrc

" ======================================================================================================================
" Base Settings

set scrolloff=5
set relativenumber
set showmode
set showcmd

set smartcase
set incsearch
set hlsearch

set visualbell

" Use system clipboard
set clipboard+=unnamed    

" ======================================================================================================================
" Plugins

set surround
set highlightedyank
set NERDTree

" ======================================================================================================================
" Key Mappings

let mapleader=" "
inoremap jk <Esc>


" Tab movement
" Can also use gt / gT and :tabp / :tabn
nnoremap L :tabnext<CR>
nnoremap H :tabprev<CR>

" Window movement
" Can also use <C-w> + hjkl
nnoremap wh <C-w>h
nnoremap wl <C-w>l
nnoremap wj <C-w>j
nnoremap wk <C-w>k
"nnoremap wq <C-w>q " Doesnt work in Rider :(

" Pane navigation (Alt + h/j/k/l)
nnoremap <A-h> <C-w>h
nnoremap <A-l> <C-w>l
nnoremap <A-k> <C-w>k
nnoremap <A-j> <C-w>j

"Tab Navigation (Alt + n/p)
nnoremap <A-n> :tabnext<CR>
nnoremap <A-p> :tabprev<CR>

" Create splits of current file
nnoremap wv <C-w>v
nnoremap ws <C-w>s

" Execute macro saved in 'q' register
nnoremap qj @q

" Change indentation easily
vnoremap < <gv
vnoremap > >gv

" ======================================================================================================================
" Rider Actions 

" Jump between methods
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

" Code folding
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>

" Comment lines easily
nnoremap <leader>c :action CommentByLineComment<CR>

" Navigate popup menu
inoremap <C-j> :action PopupMenu-selectNext<CR>
inoremap <C-k> :action PopupMenu-selectPrev<CR>

" File finding
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>fl :action RecentLocations<CR>

" Toggle distraction free mode
map <leader>z :action ToggleDistractionFreeMode<CR>

" Refactorings
map <leader>rn :action RenameElement<CR> " name
map <leader>rm :action ExtractMethod<CR> " method
map <leader>rv :action IntroduceVariable<CR> " variable
map <leader>rp :action ReformatCode<CR> " prettify
map <leader>rf :action IntroduceField<CR> " field
map <leader>ri :action OptimizeImports<CR> " imports
map <leader>rr :action Refactorings.QuickListPopupAction<CR> " refactoring

" Definitions and usages
nmap <leader>td :action GoToDeclaration<CR> " Declaration
nmap <leader>tu :action ShowUsages<CR> " Usages

" Show context menu
map <leader>cm :action ShowIntentionActions<CR> " context menu

" Go to errors
map <leader>en :action ReSharperGotoNextErrorInSolution<CR> " error next
map <leader>ep :action ReSharperGotoPrevErrorInSolution<CR> " error previous

" - NERDTree configuration?
" - Find file / fuzzy finder
